body{
    margin: 0;
    font-family: Fira Sans, serif;
    font-weight: 800;
    background-color: #191919;
    color: #fff;
}
.ui-container{
    text-align: center;
}
.header-line{
    height: 1vh;
    background-color: #f25c27;
}